body {
  background-image: url("https://packedmol.neocities.org/MainCampaign/Players/images/torinBackground2.jpg");
	background-size: 100%;
	background-attachment: fixed;
    background-position:center;
	font-family: "VT-100", fixedsys, System, monospace;
	font-size: 13px;
  }

.mainboxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

.box {
    border: 10px;
    border-style: double;
    border-color: #2e0044;
    width:60vw;
    background-color: #c800ff;
    position: relative;    
  }


.inner {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }


/*properties for the first photo at top of page*/
.pfp {
  float: right;
  border: 10px groove #00ccdb;
  width: 20vw;
  height: 60vh;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #4c006f;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ae00ff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #170022;
  color: white;
}