body {
  background-image: url("https://packedmol.neocities.org/Images/images.jpg"); /*Replace with your own background*/
	background-size: 10%;
	background-attachment: fixed;
  background-position:center;
	font-family: "VT-100", fixedsys, System, monospace;
	font-size: 13px;
  }
  
