body {
  background-image: url("https://packedmol.neocities.org/Images/images.jpg"); /*Replace with your own background*/
	background-size: 10%;
	background-attachment: fixed;
  background-position:center;
	font-family: "VT-100", fixedsys, System, monospace;
	font-size: 13px;
  }
  
.box {
    border: 2px;
    border-style: double;
    border-color: darkgreen;
    width:500px;
    height:fit-content;
    background-color: chartreuse;
    margin-left: 500px;
    position:fixed;
    top: 20px;
    
  }

  .box2 {
    border: 2px;
    border-style: double;
    border-color: darkgreen;
    width:500px;
    height:fit-content;
    background-color: chartreuse;
    margin-left: 500px;
    position:fixed;
    top: 180px;
  }

  .box-header {
    background-color: darkgreen; 
    color:white;
  }

  .sidebox {
    border: 2px;
    border-color: darkgreen;
    background-color: chartreuse;
    margin-left: 200px;
    width: 250px;
    transform: translateY(70px);
  }

  .inner {
    padding: 10px;
  }

  .counter {
    border: 2px;
    border-color: darkgreen;
    background-color: chartreuse;
    margin-left: 200px;
    width: 250px;
    transform: translateY(120px);
    text-align: center;
    align-items: center;
  }