body {
  background: linear-gradient(#2bc700 1vh, #003002 99vh); 
	background-size: 10%;
	background-attachment:fixed;
  background-position:center;
	font-family: "VT-100", fixedsys, System, monospace;
	font-size: 13px;
  }

.wrapper {
    display: grid;
    grid-template-columns: repeat(16, [start-col] 1fr);
    grid-gap: 10px;
  }

header {
    grid-column: start-col 4 / span 10;
    overflow: hidden;
  }
  
.box {
    border: 2px;
    border-style: double;
    border-color: darkgreen;
    border-radius: 10px;
    height:fit-content;
    background-color: chartreuse;
    grid-row: 2;
    grid-column: start-col 5 / span 8;
  }

.box2 {
    border: 2px;
    border-style: double;
    border-color: darkgreen;
    border-radius: 10px;
    height:fit-content;
    background-color: chartreuse;
    grid-row: 3;
    grid-column: start-col 5 / span 8
  }

.box-header {
    background-color: darkgreen; 
    color:white;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

.sidebox {
    border: 2px;
    border-color: darkgreen;
    border-radius: 10px;
    background-color: chartreuse;
    height: fit-content;
    grid-column: start-col 2/ span 3;
    grid-row: 2;
  }

  .inner {
    padding: 10px;
  }

  .counter {
    border: 2px;
    border-color: darkgreen;
    border-radius: 10px;
    background-color: chartreuse;
    text-align: center;
    height: 25vh;
    grid-column: start-col 13 / span 3;
    grid-row: 2;
  }