@font-face {
  font-family: 'TeX Gyre Chorus Font';
  src: url('https://packedmol.neocities.org/Fonts/texgyrechorus-mediumitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url("https://packedmol.neocities.org/Images/oldmapbackground.webp");
	background-size: 100%;
	background-attachment: fixed;
  background-position:center;
	font-family: 'TeX Gyre Chorus Font', Arial, Helvetica, sans-serif;
	font-size: 13px;
  }

  .mainboxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .sideboxes {
    display: flex;
    justify-content: center;
  }

.box {
    border: 10px;
    border-style: double;
    border-color: #cfc092;
    width:36vw;
    background-color: #F1E9D2;
    position: relative;
  }

  .box2 {
    border: 10px;
    border-style: double;
    border-color: #cfc092;
    width:20vw;
    height: fit-content;
    background-color: #F1E9D2;
    float:left;
    position: relative;
  }

.inner {
    padding: 10px;
    font-size: 20px;
  }

  img {
    margin: 10px;
  }

  .banner {
    display: flex;
    justify-content: center;
  }